.totalCard-container{
    display: flex;
    border: 2px solid rgb(250, 243, 241);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px rgb(177, 171, 171);
    
}

.totalCard-container img{
    height: 100px;
}